<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price_cents %></td>


        <td><%= Stripe::Price.retrieve(product.stripe_price_id)&.currency %></td>
        <td><%= Stripe::Price.retrieve(product.stripe_price_id)&.unit_amount/100 %></td>

        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
            <%= form_tag("/checkout/create", method: "POST") do %>
                <%= hidden_field_tag :stripe_price_id, product.id %>

                <%= button_tag "Purchase", type: "submit", id: "checkout-button", data: { turbo: false } , class: "btn btn-primary" %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
<hr>
