<h1>Products</h1>

<% @products.each do |product| %>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <% if product["images"].present? %>
          <%= image_tag product["images"].first, alt: "Product Image", class: "img-fluid rounded start" %>
        <% else %>
          <%= image_tag "https://via.placeholder.com/150", alt: "Product Image" %>
        <% end %>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= product["name"] %></h5>
          <% price = Stripe::Price.retrieve(product["default_price"]) %>
          <p class="card-text">
            <%= (price["unit_amount"] / 100).to_s + " " + price["currency"].upcase %>
          </p>
          <p class="card-text">
            <small class="text">
              <%= form_tag("/checkout/create", remote: true, data: { turbo: false }, method: "POST") do %>
                <input type="hidden" name="price" value="<%= product.default_price %>" />
                <%= button_tag "Purchase", class: "mb-3", type: "submit", id: "checkout-button", data: { turbo: false }, class: "btn btn-primary" %>
              <% end %>

              <%= form_tag("/add_to_cart", remote: true, data: { turbo: false}, method: "POST") do %>
                <input type="hidden" name="price" value="<%= product.default_price %>" />
                <%= button_tag "Add to cart", type: "submit", id: "cartt-button", data: { turbo: false }, class: "btn btn-primary" %>
              <% end %>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
